@font-face{
	font-family: regularGoogle;
	src: url("./fonts/PTSerif-Regular.ttf");
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: regularGoogle;
}

.main > div{
	/* border: 1px black solid; */
}
/* Grid style start */
.main{
	width: 90%;
	margin: 20px auto;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr ;
	grid-gap: 1rem;
}
.box1{
	grid-row: 1/2;
}
.box2{
	grid-row: 2/3;
}
.box3{
	grid-column: 2/3;
	grid-row: 1/3;
}
.box4{
	grid-column: 3/4;
	grid-row: 1/2;
}
.box5{
	grid-column: 3/4;
	grid-row: 2/3;
}
/* Grid1 style end here */

#main2{
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-gap: 10px;
	width: 90%;
	margin: 20px auto;
}
#main2-box1{
	grid-column: 1/2;
	grid-row: 1/3;
	/* background: red; */
}
#main2-box2{
	grid-column: 2/3;
	grid-row: 1/2;
}
#main2-box3{
	grid-column: 2/3;
	grid-row: 2/4;
}
#main2-box4{
	grid-column: 3/4;
	grid-row: 1/2;
}
#main2-box5{
	grid-column: 3/4;
	grid-row: 2/3;
}

/* Card style start */

#main3{
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	grid-gap: 10px;
	width: 90%;
	margin: 20px auto;
}
#main3-box1{
	grid-column: 1/2;
	grid-row: 1/2;
	/* background: red; */
}
#main3-box2{
	grid-column: 1/2;
	grid-row: 2/3;
}
#main3-box3{
	grid-column: 2/3;
	grid-row: 1/2;
}
#main3-box4{
	grid-column: 2/3;
	grid-row: 2/3;
}
#main3-box5{
	grid-column: 3/4;
	grid-row: 1/3;
}


.card {
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s; */
  border-radius: 5px;

  height: 100%;
  /* border: 1px black solid; */
}

.card:hover {
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
}

img {
  border-radius: 5px 5px 0 0;
  margin: auto auto;
}

.container {
  padding: 2px 16px;
}
.card>img{
	width: 100%;
	height: auto;
}
