<div id="main3">
    {% for item in items[:4] %}
    <div id="main3-box{{ loop.index }}">
        <div class="card">
            <img src="item['image_link']" alt="Avatar" />
            <div class="container">
                <br />
                <h3>
                    <a href="#"><b>{{ item['title'] }}</b></a>
                </h3>
                <br />
                <p>
                    {{ item['description'] }}
                </p>
                <br />
                <h6>{{ item['site_name'] }}</h6>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- box2 class end   -->

    <!-- box3 class end   -->
    <!-- box4 class end   -->
    <div id="main3-box5">
        <div class="card">
            <img src="{{ items[4]['image_link'] }}" alt="Avatar" />
            <div class="container">
                <br />
                <h1>
                    <a href="#"><b>{{ items[4]['title'] }}</b></a>
                </h1>
                <br />
                <p style="font-size: 25px">
                    {{ items[4]['description'] }}
                </p>
                <br />
                <h6>{{ items[4]['site_name'] }}</h6>
            </div>
        </div>
    </div>
    <!-- box5 class end   -->
</div>
<!-- main3 class end   -->